#slideDeck{
    text-align: center;
}

.slide {
	margin: auto;
	overflow: hidden;
	text-align: center;
	height: inherit;
}

.slide img{
	border:none;
	height: inherit;
}

.past{
	display:none;
}

.present{
	display:block;
}